
<div *ngIf="resume">
    <h2><span jhiTranslate="recruitApp.resume.detail.title">Resume</span> {{resume.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="recruitApp.resume.name">Name</span></dt>
        <dd>
            <span>{{resume.name}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.sex">Sex</span></dt>
        <dd>
            <span>{{resume.sex}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.birth">Birth</span></dt>
        <dd>
            <span>{{resume.birth | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.email">Email</span></dt>
        <dd>
            <span>{{resume.email}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.wechat">Wechat</span></dt>
        <dd>
            <span>{{resume.wechat}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.state">State</span></dt>
        <dd>
            <span>{{resume.state}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.advantage">Advantage</span></dt>
        <dd>
            <span [innerHTML]="resume.advantage">{{resume.advantage}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.targetPlace">Target Place</span></dt>
        <dd>
            <span>{{resume.targetPlace}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.workTime">Work Time</span></dt>
        <dd>
            <span>{{resume.workTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.experience">Experience</span></dt>
        <dd>
            <span>{{resume.experience}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.undergo">Undergo</span></dt>
        <dd>
            <span [innerHTML]="resume.undergo">{{resume.undergo}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.education">Education</span></dt>
        <dd>
            <span>{{resume.education}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.targetSalary">Target Salary</span></dt>
        <dd>
            <span>{{resume.targetSalary}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.targetPosition">Target Position</span></dt>
        <dd>
            <span>{{resume.targetPosition}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.userId">User Id</span></dt>
        <dd>
            <span><a [routerLink]="['../../user-management', resume.userId ]">{{resume.userName}}</a></span>
        </dd>
        <dt><span jhiTranslate="recruitApp.resume.enclosure">Enclosure</span></dt>
        <dd>
            <span>
               <a href="http://p7pxq46q2.bkt.clouddn.com/{{resume.enclosure}}" *ngIf="resume.enclosure" target="_blank">{{resume.enclosure}}</a>
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
