<div>
    <h2>
        <span jhiTranslate="recruitApp.resume.home.title">Resumes</span>
        <button class="btn btn-primary float-right jh-create-entity create-resume" [routerLink]="['/', { outlets: { popup: ['resume-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="recruitApp.resume.home.createLabel">
            Create new Resume
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'recruitApp.resume.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="resumes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="recruitApp.resume.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sex"><span jhiTranslate="recruitApp.resume.sex">Sex</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="birth"><span jhiTranslate="recruitApp.resume.birth">Birth</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="recruitApp.resume.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="wechat"><span jhiTranslate="recruitApp.resume.wechat">Wechat</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="state"><span jhiTranslate="recruitApp.resume.state">State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="targetPlace"><span jhiTranslate="recruitApp.resume.targetPlace">Target Place</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="workTime"><span jhiTranslate="recruitApp.resume.workTime">Work Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="experience"><span jhiTranslate="recruitApp.resume.experience">Experience</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="education"><span jhiTranslate="recruitApp.resume.education">Education</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="targetSalary"><span jhiTranslate="recruitApp.resume.targetSalary">Target Salary</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="targetPosition"><span jhiTranslate="recruitApp.resume.targetPosition">Target Position</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userId"><span jhiTranslate="recruitApp.resume.userId">User Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="enclosure"><span jhiTranslate="recruitApp.resume.enclosure">Enclosure</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resume of resumes ;trackBy: trackId">
                <td><a [routerLink]="['../resume', resume.id ]">{{resume.id}}</a></td>
                <td>{{resume.name}}</td>
                <td>{{resume.sex}}</td>
                <td>{{resume.birth | date:'medium'}}</td>
                <td>{{resume.email}}</td>
                <td>{{resume.wechat}}</td>
                <td>{{resume.state}}</td>
                <td>{{resume.targetPlace}}</td>
                <td>{{resume.workTime | date:'medium'}}</td>
                <td>{{resume.experience}}</td>
                <td>{{resume.education}}</td>
                <td>{{resume.targetSalary}}</td>
                <td>{{resume.targetPosition}}</td>
                <td><a [routerLink]="['../user-management', resume.userId ]">{{resume.userName}}</a></td>
                <td>{{resume.enclosure}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../resume', resume.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resume/'+ resume.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resume/'+ resume.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="resumes && resumes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
