
<div *ngIf="delivery">
    <h2><span jhiTranslate="recruitApp.delivery.detail.title">Delivery</span> {{delivery.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="recruitApp.delivery.userID">User ID</span></dt>
        <dd>
            <span><a [routerLink]="['../resume', delivery.resumeID ]">{{delivery.userName}}</a></span>
        </dd>
        <dt><span jhiTranslate="recruitApp.delivery.positionID">Position ID</span></dt>
        <dd>
            <span><a [routerLink]="['../position', delivery.positionID ]">{{delivery.positionName}}</a></span>
        </dd>
        <dt><span jhiTranslate="recruitApp.delivery.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'recruitApp.DeliveryType.' + delivery.status}}">{{delivery.status}}</span>
        </dd>
        <dt><span jhiTranslate="recruitApp.delivery.timestamp">Timestamp</span></dt>
        <dd>
            <span>{{delivery.timestamp | date:'MM-dd hh:mm'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'delivery/'+ delivery.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
